.Header{
    color: white;
}
.List{
    color: white;
}
.Unordered{
    border-radius: 10%;    
} 
.Ordered{
    border-radius: 50%;
}
.Anchor{
    color: white;
}
body{
    text-align: center;
    background-image: url("./giphy.gif");
    background-size: cover;
    
    height: 50vh;
}