.Header{
    color: white;
}
.List{
    color: white;
}
.Unordered{
    border-radius: 10%;    
} 
.Anchor{
    color: white;
}
body{
    background-image: url("./giphy.gif");
    background-size: cover;

    height: 50vh;
}